<header>
  <nav class="navbar">
    <div class="left_header">
      <img src="img/LogoFinale.jpg" height="73" width="75" />
    </div>
    <div class="dropdown_menu hidden" id="menu">
      <li class="first">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="AboutUs">About us</a>
      </li>
      <li>
        <a href="TheWedding">The Wedding</a>
      </li>
      <li>
        <a href="ListaNozze">Lista nozze</a>
      </li>
      <li>
        <a href="InfoForUs">Info per Noi</a>
      </li>
      <li>
        <a href="Playlist">Playlist</a>
      </li>
      <li>
        <a href="Risultati">Risultati</a>
      </li>
      <li class="last">
        <a href="Login">Log in</a>
      </li>
    </div>
    <div class="right_header">
      <div class="toggle_btn">
        <i class="fa-solid fa-bars" style="display: flex"></i>
      </div>
    </div>
  </nav>
</header>
