.content {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content-title {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 20px;
}

.content-title h3 {
  color: #ffffff;
  width: 100%;
  margin-bottom: 0;
  text-decoration-line: underline;
  font-size: 30px;
  font-family: "Bentham", sans-serif;
  text-transform: uppercase;
}

.content p {
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  font-size: 25px;
  font-family: "Garamond", sans-serif;
}

.content b {
  color: #cc9b8e;
}

ul {
  list-style: none;
  padding: 0%;
}

li {
  width: 100%;
}

/*? form*/

form {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
}

/*? template input (radio) form */
.radio-input-tp {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.radio-input-tp input {
  margin: 2px 10px 0 3px;
  width: 18px;
  height: 18px;
}

.radio-input-tp label {
  font-size: 18px;
  font-family: "Garamond", sans-serif;
}
/*? //////////////////////////*/

/*? all title template*/
.title-tp {
  font-family: "garamond", sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.db-input-tp {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  margin-left: 0;
}

.input-tp {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.form-control {
  width: 95%;
  font-family: "Garamond", sans-serif;
}

.form-control::placeholder {
  color: #666;
  font-family: "Garamond", sans-serif;
}

.db-input-tp2 {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.accompagnatore-input {
  display: flex;
}

/*? invalid forms*/

.invalid-label {
  text-align: center;
  width: 100%;
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  display: none;
}

.invalid-label.active {
  display: block;
}

.invalid-label2 {
  text-align: center;
  width: 100%;
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  display: none;
}

.invalid-label2.active {
  display: block;
}

.invalid-label3 {
  text-align: center;
  width: 100%;
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  display: none;
}

.invalid-label3.active {
  display: block;
}

.invalid-label4 {
  text-align: center;
  width: 100%;
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  display: none;
}

.invalid-label4.active {
  display: block;
}

.invalid-label5 {
  text-align: center;
  width: 100%;
  font-family: "Garamond", sans-serif;
  font-size: 18px;
  display: none;
}

.invalid-label5.active {
  display: block;
}

input:invalid {
  border-color: red;
}

/*? submit button*/
button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #cc9b8e;
  border-radius: 20px;
}

button p {
  width: 100%;
  font-size: 18px;
  font-family: "Garamond", sans-serif;
  color: #cc9b8e;
}

button:hover {
  background-color: #cc9b8e;
}

button p:hover {
  color: #ffffff;
}

@media screen and (min-width: 481px) {
  /*? title*/
  .content-title h3 {
    font-size: 40px;
  }

  .content p {
    font-size: 30px;
  }

  .radio-input-tp label {
    font-size: 22px;
    font-family: "Garamond", sans-serif;
  }

  /*? all title template*/
  .title-tp {
    font-size: 23px;
  }

  .form-control {
    font-size: 23px;
  }
}

@media screen and (min-width: 1025px) {
  form {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  /*? title*/
  .content-title h3 {
    font-size: 45px;
  }

  .form-control {
    width: 70%;
  }
}
